footer, menu, section{
  display: block;
}

html {
    position: relative;
    min-height: 100%;
}

body{
    line-height: 1em;
    margin: 0;
	display: flex; /*Pour permettre au footer d'etre tout en bas*/
	flex-direction: column; /*Pour permettre au footer d'etre tout en bas*/
}

ul{
	list-style: none;
	padding: 0;
	width: 60%;
	margin-left: 20%;
	margin-top: 0;
	margin-bottom: 0;
}

/*header pour touutes les pages*/
header{
	width: 100%;
	position: fixed;
	left: 50%;
	margin-left: -50%;
	background: white;
}

ul, li, a
{
	display: inline-block;
	text-align: center;
	text-decoration: none;
}

li
{
	margin: 0 auto;
}

#actual
{
	text-decoration: underline #000;
	font-weight: bold;
	font-size: 1.4em;
}

#hotel_name
{
	font-size: 2.5em;
	text-align: center;
	padding-bottom: 0;
	margin-bottom: 1%;
}

.paires{
	color:  green;
	font-style: normal;
	font-size: 1.2em;
}

.paires:hover{
  color: violet;
}

/* Pour decaler les photos quand la resolution le permet */
@media only screen and (min-width: 800px)
{
	#chambre1, #chambre2, #chambre3
	{
		width: 52%;
		height: auto;
	}

	#chambre2
	{
		float: right;
	}
}

/* Pour mettre les photos en ligne quand la resolution est trop petite */
@media only screen and (max-width: 800px)
{
	#chambre1, #chambre2, #chambre3
	{
		width: 100%;
		height: auto;
	}

	/* Aligne la photo a droite */
	#chambre2
	{
		float: left;
	}
}


/*Aligne les photos a gauche */
#chambre1, #chambre3
{
	float: left;
}

#chambres{
  display: flex;
}

section
{
	flex: 1 0 auto;
	margin-top: 90px;
}

.image-hôtel{
  display: block;
  width:100%;
  height:700px;
  margin: 0;

}

/*bannière en entête image de fond, 1ère image a l'horizontal, permet de mettre l'image côte à côte*/
#mission {
  width: 100%;
  display:flex;
}

.travail,
.working {
  width:50%;/*deux images 100/2=50*/
  height:auto;
  margin:0;
  padding:0;
  display: block;
}

/*mettre le text sur l'image */
/*text sur une image*/
.debut .content{
  position: absolute;
  bottom:0;
  background: rgb(0, 0, 0,);
  background: rgb(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.debut img{ vertical-align:middle;}
/*fin text sur image*/



/*mettre le text sur l'image */
.debut{
  display:inline-block;
}

.debut{
  position: absolute;
  text-align:center;
  font-family: georgia;
  font-size: 19px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: black;
}
/*text sur une image*/
.debut .content{
  position: absolute;
  bottom:0;
  background: rgb(0, 0, 0,);
  background: rgb(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}
.debut img{ vertical-align:middle;}
/*fin text sur image*/

footer
{
	flex-shrink: 0;
	text-align: center;
}




/*flottement d'images, trois contenaires d'images;100/3=33,33%; deux images(100/2=50%) et 4 images(100/4=25%)*/

.column{
  float: left;/*propriété float images cote à cote*/
  width: 33.33%;
  padding: 5px;
}
.row {
  display: flex;
}
/*fin des galeries d'images*/
/*fin du bloc container */
/*style les deux images en entêtes*/
